body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.header .btn-logout {
  text-align: right;
  color: white;
}

.row {
  margin-top: 50px;
}

.column {
  border-right: 1px solid #282c34;
  padding: 40px;
}

.login {
  background-color: lightgrey;
  text-align: center;
  padding-bottom: 30px;
}
